@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@600;700&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._lock {
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 3;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.header__body {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
  overflow: hidden;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  font-size: 25px;
  color: #212121;
}

.header__menu {
  background: #fff;
}

.header__menu ul {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  font-size: 0;
}

.header__menu li {
  margin-right: 45px;
  position: relative;
  z-index: 1;
}

.header__menu li:after {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: -17px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 20%;
  background: #009688;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu li:hover:after {
  visibility: visible;
  opacity: 1;
  bottom: -10px;
}

.header__menu li:last-child {
  margin: 0;
}

.header__menu a {
  color: #212121;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.header__search {
  margin-left: 25px;
  font-size: 20px;
  color: #212121;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__search:hover {
  color: #009688;
}

.header__form {
  position: absolute;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.97);
  width: 50%;
  min-height: 160px;
  left: 70%;
  top: 350%;
  -webkit-transition: all 0.9s cubic-bezier(0, 0.74, 0.53, 1.43) 0s;
  transition: all 0.9s cubic-bezier(0, 0.74, 0.53, 1.43) 0s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 3%;
  border: 2px solid #009688;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.3);
}

.header__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__form form h2 {
  text-align: center;
  font-size: 32px;
  color: #fff;
  width: 100%;
  margin: 10px 0 20px;
}

.header__form input {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 35px;
  width: 65%;
  font-size: 16px;
}

.header__form input:focus {
  border: 1px solid #009688;
}

.header__form button {
  margin-left: 3%;
  font-size: 42px;
  color: #fff;
  background: none;
  border: none;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.header__form button:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.header__form._active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}

@media (max-width: 920px) {
  .header {
    height: 70px;
  }
  .header__icon {
    display: block;
    position: fixed;
    top: 27px;
    left: 15px;
    z-index: 6;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .header__icon span, .header__icon::before, .header__icon::after {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }
  .header__icon::before {
    content: '';
    top: 0;
  }
  .header__icon::after {
    content: '';
    bottom: 0;
  }
  .header__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__icon._active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header__icon._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__logo {
    position: fixed;
    z-index: 6;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 25px;
  }
  .header__menu {
    position: fixed;
    z-index: 5;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d1d1d1;
    opacity: 0.95;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
    overflow: auto;
  }
  .header__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    padding-top: 90px;
    padding-bottom: 20px;
  }
  .header__menu ul li {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .header__menu ul li a {
    font-size: 35px;
  }
  .header__menu::before {
    content: '';
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 70px;
    background: #fff;
  }
  .header__menu._active {
    top: 0;
  }
  .header__search {
    position: fixed;
    z-index: 6;
    right: 15px;
    top: 27px;
  }
  .header__form {
    padding: 5px 25px;
  }
  .header__form input {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}

@media (max-width: 600px) {
  .header__form {
    width: 75%;
    top: 180px;
    left: 50%;
  }
  .header__form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__form form button {
    margin: 10px 0;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 140px;
  height: 35px;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
  border: 2px solid #212121;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  border-color: #00897b;
  background-color: #00897b;
  color: #fff;
}

.intro {
  width: 100%;
}

.intro__bg {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  background-position: top;
}

.intro__body {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  font-size: 0;
  position: relative;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}

.intro__body h1 {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 0 20px;
}

.intro__body p {
  margin-top: 26px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 0 20px;
}

.intro__btns {
  margin-top: 108px;
}

.intro__btn {
  width: 210px;
  height: 50px;
  border: 3px solid #f8f8f8;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.intro__btn:last-child {
  margin-left: 25px;
}

.intro__arrow {
  position: absolute;
  bottom: 76px;
  font-size: 25px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  -webkit-animation: jump 1s infinite;
          animation: jump 1s infinite;
}

@-webkit-keyframes jump {
  0% {
    bottom: 76px;
  }
  50% {
    bottom: 90px;
    font-size: 28px;
  }
  100% {
    bottom: 76px;
  }
}

@keyframes jump {
  0% {
    bottom: 76px;
  }
  50% {
    bottom: 90px;
    font-size: 28px;
  }
  100% {
    bottom: 76px;
  }
}

@media (max-width: 920px) {
  .intro__body h1 {
    font-size: 42px;
  }
  .intro__body p {
    font-size: 16px;
    line-height: 20px;
  }
  .intro__btns {
    margin-top: 65px;
  }
  @-webkit-keyframes jump {
    0% {
      bottom: 25px;
    }
    50% {
      bottom: 40px;
      font-size: 28px;
    }
    100% {
      bottom: 25px;
    }
  }
  @keyframes jump {
    0% {
      bottom: 25px;
    }
    50% {
      bottom: 40px;
      font-size: 28px;
    }
    100% {
      bottom: 25px;
    }
  }
}

@media (max-width: 550px) {
  .intro__bg {
    height: auto;
    min-height: 600px;
  }
  .intro__body {
    min-height: 600px;
  }
  .intro__body h1 {
    font-size: 32px;
  }
  .intro__body p {
    font-size: 12px;
    line-height: 16px;
  }
  .intro__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 20px;
  }
  .intro__btn:last-child {
    margin: 20px 0 0;
  }
}

.title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
}

.text {
  max-width: 620px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
  margin-top: 35px;
}

.about {
  padding: 125px 0 120px;
}

.about__body {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about__cards {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 125px;
}

.about__item img {
  height: 60px;
}

.about__item h3 {
  margin-top: 39px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.about__item P {
  margin-top: 25px;
  max-width: 255px;
}

@media (max-width: 1420px) {
  .about__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 70px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__item {
    margin-top: 50px;
  }
  .about__item p {
    max-width: none;
  }
  .about__item:first-child {
    margin-top: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .about__item:last-child {
    margin-left: 55px;
  }
}

@media (max-width: 920px) {
  .about {
    padding: 55px 0 40px;
  }
}

@media (max-width: 440px) {
  .about {
    padding: 55px 0 40px;
  }
  .about__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .about__item:last-child {
    margin-left: 0;
  }
}

.serv {
  background-color: #e4fdf9;
}

.serv__body {
  text-align: center;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 175px 0 125px;
}

.serv__content {
  margin-top: 110px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  font-size: 0;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.serv__item {
  padding: 112px 0 50px;
  background-color: #fff;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  margin: 0 3.5% 3% 0;
  position: relative;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.serv__item img {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 55px;
  -webkit-transform: translate(-28%, 0);
          transform: translate(-28%, 0);
}

.serv__item h3 {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.serv__item h3 a {
  color: #212121;
  text-decoration: none;
}

.serv__item p {
  margin: 20px 50px 0;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
}

.serv__item:hover {
  background-color: #00897b;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.34);
}

.serv__item:hover h3 > a,
.serv__item:hover p {
  color: #fff;
}

.serv__item:hover img.active {
  opacity: 0;
  visibility: hidden;
}

.serv__btn {
  margin-top: 40px;
}

.serv__btn:hover {
  border-color: #fff;
}

.serv__item:nth-child(3), .serv__item:nth-child(6) {
  margin-right: 0;
}

.serv__item:nth-child(4), .serv__item:nth-child(5), .serv__item:nth-child(6) {
  margin-bottom: 0;
}

@media (max-width: 1250px) {
  .serv__item {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    margin: 0 2% 2% 0;
  }
  .serv__item:nth-child(2), .serv__item:nth-child(4), .serv__item:nth-child(6) {
    margin-right: 0;
  }
  .serv__item:nth-child(1), .serv__item:nth-child(3), .serv__item:nth-child(5) {
    margin-right: 2%;
  }
  .serv__item:nth-child(4) {
    margin-bottom: 2%;
  }
}

@media (max-width: 920px) {
  .serv__body {
    padding: 55px 0 40px;
  }
  .serv__item:hover .serv__btn {
    border-color: #fff;
    color: #fff;
  }
}

@media (max-width: 650px) {
  .serv__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .serv__item:nth-child(1), .serv__item:nth-child(3), .serv__item:nth-child(5) {
    margin-right: 0;
  }
  .serv__item:nth-child(5) {
    margin-bottom: 2%;
  }
}

.works {
  padding: 175px 0 125px;
}

.works__body {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.works__btn {
  font-family: Roboto;
  padding: 15px 25px;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
  background-color: #00897b;
  border: none;
}

.works__btn:hover {
  background-color: #016e63;
}

.ff-container {
  width: 100%;
  margin-top: 110px;
}

.ff-container input {
  display: none;
}

.ff-container label {
  padding: 15px 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
  border: 2px solid #00897b;
  margin-left: 15px;
  text-transform: uppercase;
}

.ff-container label.ff-label-type-all {
  margin-left: 0;
  padding: 15px 35px;
}

.ff-container input.ff-selector-type-all:checked ~ label.ff-label-type-all,
.ff-container input.ff-selector-type-1:checked ~ label.ff-label-type-1,
.ff-container input.ff-selector-type-2:checked ~ label.ff-label-type-2,
.ff-container input.ff-selector-type-3:checked ~ label.ff-label-type-3 {
  color: #fff;
  background-color: #00897b;
}

.ff-items {
  margin-top: 120px;
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.ff-items a {
  display: block;
  position: relative;
  background: #fff;
  width: 370px;
  height: 370px;
  text-decoration: none;
}

.ff-items li {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  width: 0px;
  margin-bottom: 30px;
  padding-left: 30px;
}

.ff-items li:first-child,
.ff-items li:nth-child(4) {
  padding-left: 0;
}

.ff-items a:hover span {
  height: 80px;
  opacity: 1;
}

.ff-container input.ff-selector-type-all:checked ~ .ff-items li {
  width: 370px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items .ff-item-type-1,
.ff-container input.ff-selector-type-2:checked ~ .ff-items .ff-item-type-2,
.ff-container input.ff-selector-type-3:checked ~ .ff-items .ff-item-type-3 {
  -webkit-transition: width 0s linear 0.3s, -webkit-transform 0.3s linear;
  transition: width 0s linear 0.3s, -webkit-transform 0.3s linear;
  transition: transform 0.3s linear, width 0s linear 0.3s;
  transition: transform 0.3s linear, width 0s linear 0.3s, -webkit-transform 0.3s linear;
  -webkit-animation: scaleUp 0.3s linear 0.4s forwards;
          animation: scaleUp 0.3s linear 0.4s forwards;
  padding-left: 0;
  padding-right: 0;
  display: block;
  margin: 0 15px 30px;
}

.ff-container input.ff-selector-type-1:checked ~ .ff-items li:not(.ff-item-type-1),
.ff-container input.ff-selector-type-2:checked ~ .ff-items li:not(.ff-item-type-2),
.ff-container input.ff-selector-type-3:checked ~ .ff-items li:not(.ff-item-type-3) {
  -webkit-animation: scaleDown 0.3s linear forwards;
          animation: scaleDown 0.3s linear forwards;
  display: none;
}

@-webkit-keyframes scaleUp {
  50% {
    width: 370px;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    width: 370px;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes scaleUp {
  50% {
    width: 370px;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    width: 370px;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes scaleDown {
  0% {
    width: 370px;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  99% {
    width: 370px;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    width: 0px;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}

@keyframes scaleDown {
  0% {
    width: 370px;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  99% {
    width: 370px;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    width: 0px;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}

.ff-item-shadow {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.05em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.ff-item-shadow h3 {
  font-size: 20px;
  line-height: 22px;
}

.ff-item-shadow p {
  font-size: 15px;
  margin-top: 10px;
}

.ff-items li:hover .ff-item-shadow {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1215px) {
  .works .ff-items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works .ff-items li {
    padding-left: 0;
    padding-right: 0;
    width: 48.5%;
    margin-right: 3%;
  }
  .works .ff-items li a {
    width: 100%;
  }
  .works .ff-items li:nth-child(2n) {
    margin-right: 0;
  }
}

@media (max-width: 920px) {
  .works {
    padding: 55px 0 40px;
  }
  .ff-container,
  .ff-items,
  .works__btn {
    margin-top: 55px;
  }
}

@media (max-width: 805px) {
  .works .ff-container label {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
  }
  .works .ff-container label:first-child {
    margin-top: 0;
  }
  .works .ff-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works .ff-items li {
    width: 100%;
    margin-right: 0%;
  }
}

@media (max-width: 480px) {
  .works .ff-container label {
    width: 70%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    font-size: 16px;
  }
  .works .ff-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works .ff-items li {
    width: 100%;
    margin-right: 0%;
  }
}
