@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@600;700&display=swap');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

@mixin flexbox {display: flex;display: -webkit-box;display: -webkit-flex;display: -ms-flexbox; font-size: 0;}

body {
    font-family: 'Open Sans', sans-serif; 
}



.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.ibg{

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
    
.ibg img{
    
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

._lock {
    overflow: hidden;
}

.header {
    position: fixed;
    z-index: 3;
    background:#fff;
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.10);
    &__body {
        @include flexbox();
        align-items: center;
        padding: 45px 0;
        overflow: hidden;
    }

    &__logo {
        flex: 1 1 auto;
        font-weight: 700;
        font-size: 25px;
        color: #212121;
    }

    &__menu {
        background: #fff;
        ul {
            @include flexbox();
            
        }
        li {
            margin-right: 45px;
            position: relative;
            z-index: 1;
        }
        li:after {
            content: '';
            position: absolute;
            z-index: 2;
            bottom: -17px;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: 20%;
            background: #009688;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease 0s;
        }
        li:hover:after {
            visibility: visible;
            opacity: 1;
            bottom: -10px;
        }
        li:last-child {
            margin: 0;
        }
        a {
            color: #212121;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.05em;
        }
    }

    &__search {
        margin-left: 25px;
        font-size: 20px;
        color: #212121;
        transition: all 0.3s ease 0s;
    }
    &__search:hover {
        color: #009688;
    }
    &__form {
        position: absolute;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.97);
        width: 50%;
        min-height: 160px;
        left: 70%;
        top: 350%;
        transition: all  0.9s cubic-bezier(0,.74,.53,1.43) 0s;
        transform: translate(-50%, -50%);
        padding: 3%;
        border: 2px solid #009688;
        border-radius: 15px;
        box-shadow: 0px 0px 35px 10px rgba(0,0,0, 0.3);
        
        form {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            justify-content: center;
            align-items: center;
            h2 {
                text-align: center;
                font-size: 32px;
                color: #fff;
                width: 100%;
                margin: 10px 0 20px;
            }
        }
        input {
            padding: 5px 10px;
            border: 1px solid transparent;
            border-radius: 5px;
            height: 35px;
            width: 65%;
            font-size: 16px;
        }
        input:focus {
            border: 1px solid #009688;
        }
        button {
            margin-left: 3%;
            font-size: 42px;
            color: #fff;
            background: none;
            border: none;
            transition: all 1s ease 0s;
        }
        button:hover {
            transform: rotate(360deg);
        }

    }
    &__form._active {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    @media (max-width:920px) {
        height: 70px;
        &__icon {
            display: block;
            position: fixed;
            top: 27px;
            left: 15px;
            z-index: 6;
            width: 30px;
            height: 18px;
            cursor: pointer;
            span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
                }    
        }
        &__icon span,
        &__icon::before,
        &__icon::after {
            position: absolute;
            left: 0;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background-color: #000;
        }
        &__icon::before {
            content: '';
            top: 0;
        }
        &__icon::after {
            content: '';
            bottom: 0;
        }
        &__icon._active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
        &__icon._active::after {
            top: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
        &__icon._active span {
            transform: scale(0);
        }
        &__logo {
            position: fixed;
            z-index: 6;
            left: 50%;
            transform: translate(-50%, 0);
            top: 25px;
            
        }
        &__menu {
            position: fixed;
            z-index: 5;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(209, 209, 209);
            opacity: 0.95;
            transition: 0.7s ease;
            overflow: auto;
            ul {
                flex-direction: column;
                align-items: center;
                z-index: 5;
                padding-top: 90px;
                padding-bottom: 20px;
                li {
                    margin-right: 0;
                    margin-bottom: 30px;
                    a {
                        font-size: 35px;
                    }
                }
            }
        }
        &__menu::before {
            content: '';
            position: fixed;
            z-index: 3;
            top: 0;
            width: 100%;
            height: 70px;
            background: #fff;
            

        }
        &__menu._active {
            top: 0;
        }
        &__search {
            position: fixed;
            z-index: 6;
            right: 15px;
            top: 27px;
        }
        &__form {
            padding: 5px 25px;
            input {
                flex: 1 0 auto;
            }
        }
    }
    @media (max-width: 600px) {
        &__form {
            width: 75%;
            top: 180px;
            left: 50%;
            form {
                flex-direction: column;
                button {
                    margin: 10px 0;
                }
            }
        }
    }
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 140px;
    height: 35px;
    padding: 10px 5px;
    text-decoration: none;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #212121;
    border: 2px solid #212121;
    transition: all 0.3s ease 0s;
}
.btn:hover {
    border-color: #00897b;
    background-color: #00897b;
    color: #fff;
}

.intro {
    width: 100%;
    &__bg {
        position: absolute;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
        background-position: top;
    }
    &__body {
        @include flexbox ();
        position: relative;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        min-height: 100vh;
        background: rgba(0,0,0,0.9);
        h1 {
            font-size: 60px;
            font-weight: 600;
            letter-spacing: 0.05em;
            color: #ffffff;
            padding: 0 20px;
        }
        p {
            margin-top: 26px;
            font-size: 22px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 0.05em;
            color: #ffffff;
            padding: 0 20px;
        }
    }
    &__btns {
        margin-top: 108px;
    }
    &__btn {
        width: 210px;
        height: 50px;
        border: 3px solid #f8f8f8;
        text-transform: uppercase;
        font-family: Roboto;
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: #ffffff;
    }
    &__btn:last-child {
        margin-left: 25px;
    }
    &__arrow {
        position: absolute;
        bottom: 76px;
        font-size: 25px;
        line-height: 22px;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #ffffff;
        animation: jump 1s infinite;
    }
    @keyframes jump {
        0% {
        bottom: 76px;
        }
        50% {
        bottom: 90px;
        font-size: 28px;
        }
        100% {
        bottom: 76px;
        }
    }
    @media (max-width: 920px) {
        &__body {
            h1 {
                font-size: 42px;
            }
            p {
                font-size: 16px;
                line-height: 20px;
            }
        }
        &__btns {
            margin-top: 65px;
        }
        @keyframes jump {
            0% {
            bottom: 25px;
            }
            50% {
            bottom: 40px;
            font-size: 28px;
            }
            100% {
            bottom: 25px;
            }
        }
    }
    @media (max-width: 550px) {
        &__bg {
            height: auto;
            min-height: 600px;
        }
        &__body {
            min-height: 600px;
            h1 {
                font-size: 32px;
            }
            p {
                font-size: 12px;
                line-height: 16px;
            }
        }
        &__btns {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
            margin-top: 20px;
        }
        &__btn:last-child {
            margin: 20px 0 0;
        }
    } 
}

.title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #212121;
}

.text {
    max-width: 620px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #212121;
    margin: 35px auto 0 auto;
}

.about {
    padding: 125px 0 120px;
    &__body {
        @include flexbox();
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    &__cards {
        width: 100%;
        @include flexbox();
        justify-content: space-between;
        margin-top: 125px;
        
    }
    &__item {
        img {
            height: 60px;
        }
        h3 {
            margin-top: 39px;
            font-size: 20px;
            line-height: 22px;
            font-weight: 600;
            letter-spacing: 0.05em;
            color: #212121;
        }
        P {
            margin-top: 25px;
            max-width: 255px;
        }
    }
    @media (max-width:1420px) {
        &__cards {
            justify-content: center;
            align-items: center;
            margin-top: 70px;
            flex-wrap: wrap;
        }
        &__item {
            margin-top: 50px;
            p {
                max-width: none;
            }
        }
        &__item:first-child {
            margin-top: 0;
            flex-basis: 100%;
        }
        &__item:last-child {
            margin-left: 55px;
        }
    }
    @media (max-width: 920px) {
        padding: 55px 0 40px;  
        
    }
    @media (max-width: 440px) {
        padding: 55px 0 40px;  
        &__item {
            flex-basis: 100%;
            
        }
        &__item:last-child {
            margin-left: 0;
        }
    }

}

.serv {
    background-color: #e4fdf9;
    &__body {
        text-align: center;
        @include flexbox();
        flex-direction: column;
        align-items: center;
        padding: 175px 0 125px;
    }
    &__content {
        margin-top: 110px;
        @include flexbox();
        width: 100%;
        flex-wrap: wrap;
    }
    &__item {
        padding: 112px 0 50px;
        background-color: #fff;
        flex-basis: 31%;
        margin: 0 3.5% 3% 0;
        position: relative;
        transition: all 0.5s ease 0s;
        img {
            position: absolute;
            z-index: 2;
            left: 50%;
            top: 55px;
            transform: translate(-28%, 0);
        }
        
        
        h3 {
            a {
                color: #212121;
                text-decoration: none;
            }
            margin-top: 40px;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0.05em;
            
        }
        p {
            margin: 20px 50px 0;
            font-size: 15px;
            line-height: 25px;
            font-weight: 400;
            letter-spacing: 0.05em;
            color: #212121;
        }
        
    }
    &__item:hover {
        background-color: #00897b;
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.34);
        h3 > a,
        p {
            color: #fff;
        }
        img.active {
            opacity: 0;
            visibility: hidden;
        }
    }
    &__btn {
        margin-top: 40px;
    }
    &__btn:hover {
        border-color: #fff;
    }
    &__item:nth-child(3),
    &__item:nth-child(6) {
        margin-right: 0;
    }
    &__item:nth-child(4),
    &__item:nth-child(5),
    &__item:nth-child(6) {
        margin-bottom: 0;
    }
    @media (max-width: 1250px) {
        &__item {
            flex-basis: 49%;
            margin: 0 2% 2% 0;
        }
        &__item:nth-child(2),
        &__item:nth-child(4),
        &__item:nth-child(6) {
            margin-right: 0;
        }
        &__item:nth-child(1),
        &__item:nth-child(3),
        &__item:nth-child(5) {
            margin-right: 2%;
        }
        &__item:nth-child(4) {
            margin-bottom: 2%;
        }
    }
    @media (max-width: 920px) {
        &__body {
            padding: 55px 0 40px;
        }
        &__item:hover &__btn {
            border-color: #fff;
            color: #fff;
        }
    }
    @media (max-width: 650px) {
        &__item {
            flex-basis: 100%;
        }
        &__item:nth-child(1),
        &__item:nth-child(3),
        &__item:nth-child(5) {
            margin-right: 0;
        }
        &__item:nth-child(5) {
            margin-bottom: 2%;
        }
    }
}

.works {
    padding: 175px 0 125px;
    
    &__body {
        width: 100%;
        text-align: center;
        @include flexbox();
        flex-direction: column;
        align-items: center;
    }
    &__text {
        margin: 35px auto 0 auto;
    }
    &__content {
        margin: 120px auto 0 auto;
        width: 100%;
    }
    &__btn {
        font-family: Roboto;
        padding: 15px 25px;
        margin: 80px auto 0 auto;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #ffffff;
        background-color: #00897b;
        border: none;
        text-transform: uppercase;
    }
    &__btn:hover {
        background-color: rgb(1, 110, 99);
    }
    input {
        display: none;
    }
    label {
        padding: 15px 20px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: #212121;
        border: 2px solid #00897b;
        margin-left: 15px;
        text-transform: uppercase;
    }
    label.ff-label-type-all {
        margin-left: 0;
        padding: 15px 35px;
    }
    input[type="radio"]:checked + label {
        color: #fff;
        background-color: #00897b;
    }
    
    input[type="radio"][id="select-type-1"]:checked ~ .select-type-2, input[type="radio"][id="select-type-1"]:checked ~ .select-type-3 {
        width:0;
        height:0;
        padding:0;
        margin:0;
        opacity:0;
        visibility: hidden;
    }
      
    input[type="radio"][id="select-type-2"]:checked ~ .select-type-1, input[type="radio"][id="select-type-2"]:checked ~ .select-type-3 {
        width:0;
        height:0;
        padding:0;
        margin:0;
        opacity:0;
    }
      
    input[type="radio"][id="select-type-3"]:checked ~ .select-type-1, input[type="radio"][id="select-type-3"]:checked ~ .select-type-2 {
        width:0;
        height:0;
        padding:0;
        margin:0;
        opacity:0;
    }
    &__clr {
        width: 100%;
        margin-top: 70px;
    }
    &__item {
        float: left;
        margin: 1.5%;
        width: 29.5%;
        position: relative;
        a {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            text-decoration: none;
            width: 100%;
            height: 100%;
        }
        
    }
    &__item:after {
        content: "";
        padding-top: 100%;
        display: block;
    }
    &__shadow {
        @include flexbox();
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color:rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100%;
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 0.05em;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        h3 {
            font-size: 20px;
            line-height: 22px;
        }
        p {
            font-size: 15px;
            margin-top: 10px; 
        }
    }
    &__item:hover &__shadow {
        opacity: 1;
        visibility: visible;
    }
    @media (max-width:1200px) {
        &__item {
            width: 46%;
            margin: 1%;
            padding: 1%;
            a {
                background-size:cover;
                background-repeat: no-repeat;
            }
        }
        
    }
    @media (max-width: 920px) {
        padding: 55px 0 40px;
        &__content {
            margin-top: 35px;
        }
        &__clr {
            margin-top: 40px;
        }
        label {
            font-size: 16px;
            display: inline-block;
            margin-top: 20px;
        }
        &__shadow {
            display: none;
        }
        &__btn {
            margin-top: 30px;
        }
    }
    @media (max-width:650px) {
        label,
        label.ff-label-type-all {
            width: 70%;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            width: 100%;
            padding: 0;
            margin: 0 0 10px 0;
        }
    }
}

.price {
    background-color: #f0f1f1;
    padding: 175px 0 125px;
    &__body {
        text-align: center;
        width: 100%;
    }

    &__content {
        margin-top: 125px;
        @include flexbox();
    }
    &__item {
        width: calc(33.33% - 20px - 190px);
        background: #fff url(../img/pricing/01.png) top no-repeat;
        background-size: 100%;
        padding: 48px 95px 63px;
        margin-left: 30px;
        transition: all 0.3s ease 0s;
        h3 {
            font-size: 25px;
            font-weight: 400;
            letter-spacing: 0.05em;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        > p {
            margin-top: 39px;
            font-size: 17px;
            font-weight: 400;
            letter-spacing: 0.05em;
            color: #ffffff;
            span.price__curr {
                display: inline-block;
                font-size: 25px;
                vertical-align: top;
                margin-top: 5px;
            }
            span.price__val {
                font-size: 50px;
            }
            span.price__pm {
                display: inline-block;
                vertical-align: top;
                margin-top: 25px;
                margin-left: 5px;
            }
        }
        ul {
            margin-top: 115px;
            width: 100%;
            li {
                padding-bottom: 14px;
                margin-top: 35px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                width: 100%;
                p {
                    font-size: 17px;
                    line-height: 22px;
                    font-weight: 300;
                    letter-spacing: 0.05em;
                    color: #212121;
                }
            }
            li:first-child {
                margin-top: 0;
            }
        }
    }
    &__item:first-child {
        margin-left: 0;
    }
    &__item:hover {
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
    }
    &__btn {
        margin-top: 65px;
        width: calc(100% - 4px - 10px);
    }
    @media (max-width:1185px) {
        &__content {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__item {
            width: 180px;
            margin: 30px 0 0 0;
            
        }

        &__item:first-child {
            flex: 0 1 auto;
            margin-right: 30px;
        }
        &__item:last-child {
            margin-right: 30px;
            margin-left: 30px;
        }
    }
    @media (max-width:920px) {
        padding: 55px 0 40px;
        &__content {
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
        }
        &__item:first-child,
        &__item:last-child {
            margin-right: 0;
            margin-left: 0;
        }
        &__item {
            width: calc(75% - 20px - 190px);
            background-size: 100% 235px;
        }
        &__btn {
            width: auto;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    @media (max-width:580px) {
        &__item {
            padding: 30px 25px 35px;
            width: calc(100% - 50px);
        }
    }
}

.team {
    padding: 175px 0 265px;
    &__body {
        text-align: center;
        
    }
    &__content {
        min-width: 0;
        margin-top: 125px;
        display: flex;
        flex-wrap: nowrap;
    }
    &__item {
        width: calc(33.33% - 20px);
        margin: 0 15px;
    }
    &__photo {
        display: block;
        background-color: #000000;
        border-radius: 10px;
        width: 100%;
    }
    &__photo:after {
        content: "";
        padding-top: 100%;
        display: block;
    }
    &__name {
        margin-top: 40px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: #212121;
    }
    &__pos {
        margin-top: 10px;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #212121;
    }
    &__soc {
        margin-top: 30px;
        width: 100%;
        @include flexbox();
        justify-content: center;
        a {
            display: block;
            position: relative;
            margin: 0 15px;
            width: 50px;
            height: 50px;
            transition: all 0.2s ease 0s;
            background-color: #f0f1f1;
            border-radius: 10px;
            text-decoration: none;
            font-size: 30px;
            font-weight: 400;
            letter-spacing: 0.05em;
            color: #00897b;
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        a:hover {
            background-color: #3949ab;
            color: #ffffff;
        }
    }
    .slick-dots {
        position: absolute;
        top: calc(100% + 125px);
        left: 50%;
        transform: translate(-50%, 0);
        @include flexbox();
        flex-direction: row;
        li {
            margin: 0 5px;
            display: inline-block;
            button {
                width: 15px;
                height: 15px;
                background-color: #00897b;
                border-radius: 50%;
                border: none;
            }
        }
        .slick-active {
            button {
                background-color: #3949ab;
            }
            
        }
    }
    @media (max-width:920px) {
        padding: 55px 0 165px;
        &__content {
            margin-top: 50px;
        }
        &__soc {
            a {
                margin: 0 5px;
            }
        }
        .slick-dots {
            top: calc(100% + 60px);;
        }
        
    }
}

.blog {
    padding: 175px 0 125px;
    background-color: #e4fdf9;
    &__body {
        text-align: center;
    }
    &__row {
        @include flexbox();
    }
    &__row:nth-child(2n) {
        flex-flow: row-reverse;
    }
    &__row:first-child {
        margin-top: 125px; 
    }
    &__img {
        display: block;
        width: calc(50% - 15px);
        min-height: 400px;
    }
    &__info {
        width: calc(50% - 15px);
        margin-left: 30px;
        padding: 60px 0;
        text-align: left;
        h3 {
            font-size: 25px;
            font-weight: 600;
            letter-spacing: 0.05em;
            a {
                text-decoration: none;
                color: #212121;
                transition: all 0.3s ease 0s;
            }
            a:hover {
                color: #00897b;
            }
        }
        > p {
            max-width: 450px;
            margin-top: 25px;
            font-size: 15px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 0.05em;
            color: #212121;
        }
    }
    &__about {
        margin-top: 30px;
        @include flexbox();
        flex-flow: row;
        i {
            font-weight: 400;
            margin-right: 13px;
        }
    }
    &__date {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: #212121;
        margin-right: 40px;
    }
    &__dev {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: #212121;
    }
    &__btn {
        width: 210px;
        padding: 17px 5px;
        margin-top: 125px;
        background-color: #00897b;
        border: transparent;
        color: #fff;
    }
    &__btn:hover {
        background-color: rgb(1, 110, 99);
    }
    @media (max-width: 920px) {
        padding: 55px 0 40px;
        &__row {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
        }
        &__row:first-child {
            margin-top: 40px;
        }
        &__row:nth-child(2n) {
            flex-flow: column;
        }
        &__img {
            width: 290px;
            min-height: 290px;
        }
        &__info {
            width: 100%;
            margin-left: 0;
            padding-top: 35px;
            > p {
                max-width: none;
            }
        }
        &__btn {
            margin-top: 0;
        }
    }
}


